[submodule "dotfiles/zsh/.oh-my-zsh"]
	path = dotfiles/zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dotfiles/zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = dotfiles/zsh/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotfiles/zsh/.zsh/plugins/zsh-autosuggestions"]
	path = dotfiles/zsh/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "dotfiles/tmux/.tmux/plugins/tpm"]
	path = dotfiles/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
