[submodule "dotfiles/zsh/.oh-my-zsh"]
	path = dotfiles/zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dotfiles/zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = dotfiles/zsh/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotfiles/zsh/.zsh/plugins/zsh-autosuggestions"]
	path = dotfiles/zsh/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "dotfiles/tmux/.tmux/plugins/tpm"]
	path = dotfiles/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "dotfiles/tmux/.tmux/plugins/tmux-continuum"]
	path = dotfiles/tmux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "dotfiles/tmux/.tmux/plugins/tmux-resurrect"]
	path = dotfiles/tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "dotfiles/tmux/.tmux/plugins/tmux-yank"]
	path = dotfiles/tmux/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "dotfiles/tmux/.tmux/plugins/tmux-copycat"]
	path = dotfiles/tmux/.tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
